.table-blue-theme {
    background-color: #369;
    color: white;
  }
  
  .table-blue-theme th,
  .table-blue-theme td {
    padding: 10px;
  }
  
  .table-blue-theme th {
    background-color: #258;
  }
  
  .table-blue-theme td {
    background-color: #48a;
  }
  
  .table-very-small td {
    font-size: 10px; /* Adjust the value as desired */
  }
  .table-very-small th {
    font-size: 10px; /* Adjust the value as desired */
  }
  
  .label-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .label-wrapper label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .table-responsive {
    overflow: auto;
    max-height: 600px; /* Adjust the maximum height as needed */
  }
  
  /* Add styles to freeze the table header */
  .table thead th {
    position: sticky;
    top: 0;
    background-color: #d5e2ef; /* Adjust the background color as needed */
    z-index: 1;
  }
  
  
  
  /* Add hover styles to table cells */
  .table-very-small td:hover {
    color: blue;
    cursor: pointer;
  }
  
  /* button change color */
  .status-button {
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  
  .green {
    background-color: lightgreen;
    color: white;
  }
  
  .red {
    background-color: red;
    color: white;
  }
  
  
  /* ModernBlueModal.css */
  .modern-blue-modal {
    .modal-content {
      background-color: #007bff;
      color: #ffffff;
    }
  
    .modal-header {
      background-color: #007bff;
      border-bottom: 1px solid #ffffff;
  
      .modal-title {
        color: #ffffff;
      }
    }
  
    .modal-body {
      background-color: #ffffff;
      color: #000000;
    }
  
    .modal-footer {
      background-color: #007bff;
      border-top: 1px solid #ffffff;
  
      .btn-secondary {
        background-color: #ffffff;
        color: #007bff;
      }
  
      .btn-primary {
        background-color: #ffffff;
        color: #007bff;
      }
    }
  }

  .table-container {
    overflow-x: auto;
  }
  
  .sticky-column {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 2;
  }
  